@model IEnumerable<Information>
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </tbody>
        <thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td><img src="~/assets/images/@item.ImageUrl" /></td>
                    <td><a class="btn btn-info" asp-area="Manage" asp-controller="Information" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                    <td><a class="btn btn-danger" asp-area="Manage" asp-controller="Information" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </thead>
    </table>
</div>